.workSection {
  margin: 100px 50px;
  padding: 0;
  position: relative;
  clear:both;
  float:left;
  width:calc(100% - 100px);
  height:auto;
  min-height:27vw;
  @media all and (min-width:1280px){
    min-height:0;
  }
  @media all and (max-width:640px){
    margin:50px 25px;
    width:calc(100% - 50px);
  }
  outline:none;
  &:nth-of-type(2){
    .aboutWork,.expand{
      float:right;
      clear:both;
    }
   }
  &.active:not(.IE){
    .aboutWork,.expand{
      max-width:490px;
    }
    .project-img{
      clip-path: polygon(0 0, 0 0, 100% 100%, 100% 0);
      &.liveup-img{
        clip-path: polygon(0 0, 0 100%, 100% 0, 100% 0);
      }
    }
  }
  &.active{
    .aboutWork{
      height:auto;
      max-height:99999999px;
      &:after{
        display:none;
      }
    }
  }
  .aboutWork {
    width: 100%;
    max-width:35vw;
    margin-top:6vw;
    transition:.3s ease-out;
    height:15vw;
    max-height:192px;
    overflow:hidden;
    position:relative;
    @media all and (min-width:1280px){
      margin-top:76px;
      max-width:448px;
    }
    @media all and (max-width:992px){
      margin-top:0;
      height:20vw;
    }
    @media all and (max-width:840px){
      max-width:49%;
      height:20vw;
    }
    @media all and (max-width:640px){
      max-width:100%;
      height:auto;
      margin-top:20px;
    }
    .showMore{
      display:none;
    }
    &:after{
      content:"";
      width:100%;
      height:40px;
      position:absolute;
      bottom:0;
      left:0;
      background:linear-gradient(0deg,#FFF,rgba(white,0))
    }
  }
  .expand{
    text-align:right;
    width:100%;
    max-width:35vw;
    display:block;
    margin-top:10px;
    @media all and (min-width:1280px){
      max-width:448px;
    }
  }
  .project-img {
    background-size: 100%;
    width: 50vw;
    max-width:640px;
    height: 27vw;
    max-height:345px;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    transition:.3s ease-out;
    @media all and (max-width:840px){
      width:49%;
    }
    @media all and (max-width:640px){
      width:100%;
      height:45vw;
      position:relative;
    }
    &.medal-of-honor-img {
      background: url("http://dev.elijahvazquez.com/imgs/medalofhonor.jpg")
        top center no-repeat;
      background-size: 100%;
    }
    &.liveup-img {
      background: url("http://dev.elijahvazquez.com/imgs/liveup.jpg")
        top center no-repeat;
      background-size: 100%;
      left:0;
    }
    &.prose-img{
      background:url("http://dev.elijahvazquez.com/imgs/prose.jpg")top center no-repeat;
      background-size:100%;
      border:1px solid #ccc;
    }
  }
}
