#contact{
	padding: 0 20px 40px;
	display:flex;
	flex-wrap:wrap;
	@media all and (min-width:640px){
		padding: 0 20px 40px;
	}
	h2{width:100%;text-align:center;margin-bottom:50px;}
	.textContain{
		width:50%;
	}
	p,h4{
		width:100%;
		max-width:$textWidth;
		margin:0 auto 1.3em;
	}
}